footer{
    margin-top: 20vw;
    font-family:'Lucida Grande';
}

#footer_font {
    position:fixed;
    bottom: 0;
    left: 0;
    height: 4vw;
    width: 100%;
    background-color: #9f9f9f;
}
#footer2 {
    position: fixed;
    left: 10%;
    bottom: -1vw;
    width: 100%;
    background-color:transparent;
    color: #fff;
    text-align: left;
}
#footer1 {
    position:fixed;
    right:10%;
    bottom: -1vw;
    width: 100%;
    background-color: transparent;
    color: #fff;
    text-align: right;
}


#footer1 p{
    font-size:3w;
}
#footer1 a {
    text-decoration: none; color: white;
}
#footer1 a:hover { color :green;

}
#footer2 p{
    font-size:1vw;
}

#footer3 {
    position:fixed;
    right:50%;
    bottom: -1vw;
    width: 100%;
    background-color: transparent;
    color: #fff;
    text-align: right;
}


#footer3 p{
    font-size:3w;
}
#footer3 a {
    text-decoration: none; color: white;
}
#footer3 a:hover { 
    color :green;

}