.head1{
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-row-gap: 9px;
    align-content: center;
    grid-column-gap: 3px;
    border-bottom: solid black 2px;
    margin: 5px 5px;
    padding-bottom: 5px;
}

#logo{

}

.ecom{
    grid-column: 1/3;
    grid-row: 1/3;
}

.fr{
    grid-column : 15;
    grid-row:1;
}

.en{
    grid-column : 16;
    grid-row:1;
}

.habitat{
    grid-column: 4/6;
    grid-row: 2;
}

.conso{
    grid-column: 6/8;
    grid-row: 2;
}

.histo{
    grid-column: 8/11;
    grid-row: 2;
}

.routines{
    grid-column: 11/13;
    grid-row:2
}

.faq{
    grid-column:13/15;
    grid-row: 2;
}

.contact{
    grid-column:15/17;
    grid-row:2;
}

.fr, .en, .habitat, .conso, .histo, .routines, .faq, .contact{
    background: rgb(210, 210, 210);
    border: solid black 1px;
    text-align: center;
    padding: 3px 0px;
}

header{
    padding-bottom : 5px;
    position: fixed;
    top: 0px;
    background-color: white;
}