
body{
    background: linear-gradient(to right, rgba(29,179,67,0.4), rgba(29,179,67,0.1));
    height: auto;
}

h1{
    text-align: center;
    color: orange;
    font-size: 45px;
    text-shadow: 0 1px rgba(255,176,0,.5);

}


.faq-section{
    margin: 20px 0;
    position: relative;
    height: auto;
}

/*Hide the paragraphs*/
.faq-section p {
    display: none;
}

.faq-section label{
    cursor: pointer;
}

/*Hide the checkboxes */
.faq-section input{
    position: absolute;
    z-index: 2;
    opacity: 0;
    display: none; /* IE8 and below */
    margin: 0;
    width: 100%;
    height: 36px;
}


/*If the checkbox is checked, show all paragraphs*/
.faq-section input:checked~p , .faq-section input:checked~div{
    display: block;
    color: #444;
    font-size: 1em;
    /* restore clipping defaults */
}



/*Style the label*/
.faq-section label{
    font-size: 1.2em;
    background: mediumseagreen;
    display: block;
    position: relative;
    height: auto;
    padding: 7px 10px;
    font-weight: bold;
    border: 2px solid darkseagreen;
    border-radius: 15px;
    transition: all .2s ease-out;
}

/*Remove text selection when toggle-ing*/
.faq-section label::selection{
    background: none;
}



/*If the checkbox is checked, style the label accordingly*/
.faq-section input[type=checkbox]:checked~label{
    border-color: darkgreen;
    background: lightgreen;
    background-image: linear-gradient(to bottom, lightgreen, darkseagreen);
    box-shadow: 0 0 1px rgba(0,0,0,.4);
}

/*Label's arrow - default state */
.faq-section label::before{
    content: '';
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -6px;
    border: 6px solid transparent;
    border-left-color: inherit;
}

/*Update the right arrow*/
.faq-section input:checked~label::before{
    border: 6px solid transparent;
    border-top-color: darkgreen ;
    margin-top: -3px;
    right: 10px;
}


.faq-section .piecedetail{
    display: none;
}

.piecedetail input{
    z-index: initial;
    opacity: initial;
    display: initial ;
    width: initial;
    margin: initial;
    height: min-content;
    position: initial;
}



