
/**
Pour le header

 */


*{
    margin: 0;
    padding: 0;

}

header{
    grid: auto;
    position: sticky;
    height: 5vw;
    margin-bottom: 2vw;
    z-index: 10;
}



.logo {
    float: left;
    display: inline-block;
    position:relative;
    width:10%;
    margin-left: 1vw;


}


#menu li{
    display: inline-block;
    position:sticky;
    text-align: center;


}
#menu ul li{
    display:inherit;
    position: sticky;

}
#menu ul li:hover{
    color: #fff;
    border-radius:0;
    position: sticky;
}
#menu ul li:last-child{

}
#menu ul{
    position:absolute;
    max-height:0;
    left: 0;
    right: 0;
    margin-right: 10vm;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;

}
#menu li:hover ul{
    max-height:18vw;

}
/* background des liens menus */
#menu li:first-child{
    background-color: #9f9f9f;

}
#menu li:nth-child(2){
    background-color: #9f9f9f;

}
#menu li:nth-child(3){
    background-color: #9f9f9f;

}
#menu li:last-child{
    background-color: #9f9f9f;

}
/* background des liens sous menus */
#menu li:first-child li{
    background:#9f9f9f;
}
#menu li:nth-child(2) li{
    background:#9f9f9f;
}
#menu li:nth-child(3) li{
    background:#9f9f9f;
}
#menu li:last-child li{
    background:#9f9f9f;
}
/* background des liens menus et sous menus au survol */
#menu li:first-child:hover, #menu li:first-child li:hover{
    background:#8c8c8c;
}
#menu li:nth-child(2):hover, #menu li:nth-child(2) li:hover{
    background:#8c8c8c;
}
#menu li:nth-child(3):hover, #menu li:nth-child(3) li:hover{
    background:#8c8c8c;
}
#menu li:last-child:hover, #menu li:last-child li:hover{
    background:#8c8c8c;
}
/* les a href */


#menu a{
    text-decoration:none;
    font-weight: normal;
    display:block;
    padding:1vw 2vw;
    color:#fff;
    font-size: 1.5vw;
}
#menu ul a{
    padding:1vw 0;

}
#menu li:hover li a{
    color:#fff;
    text-transform:inherit;
    position: sticky;
}
#menu li:hover a, #menu li li:hover a{
    color:#fff;

}
#header_font p{
    position:sticky;
    height: 5vw;
    background-color: #9f9f9f;
}

/**
Pour les modes de fonctionnements

 */

.tableau{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.modes{
    justify-content: space-around;
    text-align: justify;
    padding: 4px 0px;
    border: 2px solid black;
    background: lightgreen;
}


h2{
    text-align: center;
}

body{
    background: linear-gradient(to right, rgba(29,179,67,0.4), rgba(29,179,67,0.1));
}


/**

Pour le footer

 */



footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    padding: 25px;
    height: 3vw;
    margin-top: 25px;
    background-color: #9f9f9f;
    font-family: 'Lucida Grande', sans-serif;
    font-size: 1vw;
    text-decoration: none;
    color: white;
}

footer div {
    display: inline-flex;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: green;
}

.panne-texte {
    font-family: 'Lucida Grande', sans-serif;
    padding-left: 60px;
    color: #ca6b2d;
    font-size: 20px;
}


/**

Pour la faq

 */


body{
    background: linear-gradient(to right, rgba(29,179,67,0.4), rgba(29,179,67,0.1));
    height: auto;
}

h1{
    text-align: center;
    color: orange;
    font-size: 45px;
    text-shadow: 0 1px rgba(255,176,0,.5);

}


.faq-section{
    margin: 20px 0;
    position: relative;
    height: auto;
}

/*Hide the paragraphs*/
.faq-section p{
    display: none;
}

/*Hide the checkboxes */
.faq-section input{
    position: absolute;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    display: none\9; /* IE8 and below */
    margin: 0;
    width: 100%;
    height: 36px;
}


/*If the checkbox is checked, show all paragraphs*/
.faq-section input:checked~p{
    display: block;
    color: #444;
    font-size: 1em;
    /* restore clipping defaults */
}

/*Style the label*/
.faq-section label{
    font-size: 1.2em;
    background: mediumseagreen;
    display: block;
    position: relative;
    height: auto;
    padding: 7px 10px;
    font-weight: bold;
    border: 2px solid darkseagreen;}


/* POUR la panne */


h2{
    font-family: "Arial", "Times New Roman";
}
input[type=submit] {
    width:100px;
    margin-left:5px;
    box-shadow:2px 2px 2px #ed942a;
    cursor:pointer;
    background-color: #ffbb5d;
}
select{
    cursor:pointer;
    box-shadow:2px 2px 2px #ed942a;
    width:400px;
    border-color: #ed942a;
    background-color: #9dffa4;
}

/* POUR vContact*/


body {
    font-family:"Lucida Grande",sans-serif;
    font-size:90%;
}
form {

    background-color:#FAFAFA;
    margin-top: 10vw;
    padding:10px;
    width:auto;
    position: center;
}
fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid #60BF01  ;
}
legend {
    color:#467D10  ;
    font-weight:bold
}
label {
    margin-top:10px;
    display:block;
}
label.inline {
    display:inline;
    margin-right:50px;
}
input, textarea, select, option {
    background-color:rgb(200, 248, 188);
}
input, textarea, select {
    padding:3px;
    border:1px solid #C5E7A3  ;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}
select {
    margin-top:10px;
}
input[type=radio] {
    background-color:transparent;
    border:none;
    width:10px;
}
input[type=submit], input[type=reset] {
    width:100px;
    margin-left:5px;
    box-shadow:1px 1px 1px #58B000  ;
    cursor:pointer;
}

/* Pour accueil */

.gauche {
    float:left;
}
.droite {
    float:right;
}