body{
    background-color: #98ff55;
    color: #ca6b2d;
}
h2{
    font-family: "Arial", "Times New Roman";
}
input[type=submit] {
    width:100px;
    margin-left:5px;
    box-shadow:2px 2px 2px #ed942a;
    cursor:pointer;
    background-color: #ffbb5d;
}
select{
    cursor:pointer;
    box-shadow:2px 2px 2px #ed942a;
    width:400px;
    border-color: #ed942a;
    background-color: #9dffa4;
}

