.tableau{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.modes{
    justify-content: space-around;
    text-align: justify;
    padding: 4px 0px;
    border: 2px solid black;
    background: lightgreen;
}






















h2{
    text-align: center;
}

body{
    background: linear-gradient(to right, rgba(29,179,67,0.4), rgba(29,179,67,0.1));
}